{% extends "base.html" %}
{% block title %}Quiz - My Website{% endblock %}
{% block content %}
<style>
    body {
        background-color: #F2EFE1;
        color: rgb(65, 12, 13);
    }
    .quiz-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0 auto; /* Center horizontally */
        padding-top: 20px;
    }
    .quiz-item {
        padding: 20px;
        color: rgb(65, 12, 13);
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        width: 50%;
        margin: 10px auto;
    }
    .option {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s;
        cursor: pointer;
    }
    .option.clicked {
        background-color: darkgray;
    }
    .explanation {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.9em;
        color: #666;
        display: none; /* Hidden by default */
    }
    .start-learning-btn, #submit-btn:hover{
    background-color: rgb(65, 12, 13);
    color: rgb(221, 188, 160);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    }
    .start-learning-btn.disabled {
    background-color: lightgray;
    cursor: not-allowed;
    }

    .start-learning-btn:hover, #submit-btn:hover {
        background-color:rgb(221, 188, 160);
        color: rgb(65, 12, 13);
    }
    .wrong-click {
    background-color: rgb(213, 121, 121);
    color: white;
    }
    #submit-btn {
    background-color: rgb(65, 12, 13); /* Set initial background color to light gray */
    color: rgb(221, 188, 160);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for rounded edges */
}
    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-container {
    text-align: center;
    margin: 20px; /* Adjust this value as needed */
    }

</style>
<div class="quiz-container">
    <h3 style="font-size: 50px; margin-bottom: 20px; margin-top: 20px;"> What kind of wine would you pair with this food?</h3>
    <div class="quiz-item">
        <p>{{ question["question"] }}</p>
        <div class="image-container">
            <img src="{{ url_for('static', filename='pic/' + question['image']) }}" alt="Question Image" style="max-width: 50%; height: auto;">
            <div id="message" style="margin: 5px;"></div>
            <div id="answer-form">
                {% for option in options %}
                <button type="button" class="option" onclick="markClicked(this)">
                    {{ option['option'] }}
                </button>
                <div class="explanation" id="explanation-{{ loop.index }}">
                    {{ option['explanation'] }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="button-container">
            <button id="submit-btn" class="btn btn-primary mt-3 start-learning-btn" onclick="submitAnswer()" disabled>Submit</button>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock %}
