.option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.option.correct {
    background-color: #b3ffb3; /* Light green for correct answers */
}

.option.incorrect {
    background-color: #ffb3b3; /* Light red for incorrect answers */
}

.option:hover, .option:focus {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.explanation {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
    display: none; /* Hidden by default */
}

.centered-fact-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    color: white;
}

#factImage {
    width: 100%; /* Adjust this to fit your design needs */
    height: 400px; /* Fixed height */
    object-fit: cover; /* This will cover the area without distorting the ratio */
}
