{% extends "base.html" %} {% block content %}

<style>
  #term-header {
    text-align: center;
    color: rgb(65, 12, 13);
    margin-top: 5%;
  }

  .term-subheader {
    text-align: center;
    color: rgb(65, 12, 13);
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 20px;
  }

  .frame {
    margin-top: 5%;
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 5px solid rgb(65, 12, 13);
    position: relative;
    object-fit: cover;
  }

  .frame > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  body {
    color: rgb(65, 12, 13);
    background-color: rgb(255, 255, 255);
  }

  .start-learning-btn {
    background-color: rgb(65, 12, 13);
    color: rgb(221, 188, 160);
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
    display: inline-block;
    text-align: center;
    font-size: 20px; /* Adjust font size here */
  }

  .start-learning-btn:hover {
    background-color: rgb(221, 188, 160);
    color: rgb(65, 12, 13);
  }
</style>

<h1 id="term-header" style="font-weight:bold;">So, how do you actually <strong>pair</strong> wine with food?</h1>
<h2 class="term-subheader" style="font-size: 26px; margin-bottom: 5%;">The key is pairing similar characteristics, <b><u>pick the wine that is the "twin" of the dish.</b></u></h2>
<h2 class="term-subheader">Click on a food group to learn more.</h2>
<div class="row">
  <div class="col-md-4" style="text-align: center">
    <div>
      <!-- replace dryness with seafood and href wine-terms with food-pairings -->
      <a
        href="/food-pairings?section=seafood"
      >
      <button class="start-learning-btn">
        Seafood
      </button>
      </a>
    </div>
    <img
      class="frame"
      src="{{ url_for('static', filename='pic/seafood.jpg') }}"
      alt="Seafood"
    />
  </div>
  <div class="col-md-4" style="text-align: center">
    <div>
      <!-- replace dryness with meat and href wine-terms with food-pairings -->
      <a
        href="/food-pairings?section=meat"
      >
      <button class="start-learning-btn">
        Meats</button>
      </a>
    </div>
    <img
      class="frame"
      src="{{ url_for('static', filename='pic/meat.jpg') }}"
      alt="Meat"
    />
  </div>
  <div class="col-md-4" style="text-align: center">
    <div>
      <!-- replace dryness with vegetable and href wine-terms with food-pairings -->
      <a
        href="/food-pairings?section=vegetables"
      >
      <button class="start-learning-btn">
        Vegetables</button>
      </a>
    </div>
    <img
      class="frame"
      src="{{ url_for('static', filename='pic/vegetable.jpg') }}"
      alt="Vegetable"
    />
  </div>
</div>

{% endblock %}
