{% extends "base.html" %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-2"style="border: 3px solid rgb(102, 41, 49); border-top: 0px;">
      <h2 id="nav-title" style="padding-top: 20px;"> Food Pairings</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#" onclick="loadContent('seafood')">Seafood</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="loadContent('meat')">Meat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="loadContent('vegetable')">Vegetable</a>
        </li>
        <!-- Add more links as needed -->
      </ul>
    </div>
    <!-- Main Content Area -->
    <div class="col-lg-9" id="main-content"></div>
  </div>
</div>

<script>
  function loadContent(url) {
    fetch(url)
      .then(response => response.text())
      .then(html => {
        document.getElementById('main-content').innerHTML = html;
      })
      .catch(error => console.error('Error loading content: ', error));
  }
</script>

{% endblock %}