{% extends "base.html" %}
{% block title %}Quiz - My Website{% endblock %}
{% block content %}
<style>
    body {
        background-color: rgb(224, 211, 172); /* light beige background */
    }
    .quiz-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .quiz-item {
        padding: 20px;
        color: rgb(102, 41, 49); /* deep red color for text */
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        width: 80%; /* Wider quiz item for better mobile experience */
        margin: 20px auto; /* Centering */
    }
    .option {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s;
        cursor: pointer;
    }
    .option:hover, .option:focus {
        background-color: rgb(232, 179, 188);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .correct {
        background-color: #b3ffb3; /* Green for correct */
    }
    .incorrect {
        background-color: #ffb3b3; /* Red for incorrect */
    }
    .explanation {
        margin-top: 10px;
        font-size: 0.9em;
        color: #666;
    }
    .navigation-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: rgb(102, 41, 49);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .navigation-btn:hover {
        background-color: rgb(232, 179, 188);
        color: rgb(102, 41, 49);
    }
</style>

<div class="quiz-container">
    <h1>Quiz</h1>
    <div class="quiz-item">
        <h2>{{ question["question"] }}</h2>
        <img src="{{ url_for('static', filename='pic/' + question['image']) }}" alt="Question Image" style="max-width: 80%; height: auto;">
        <form action="{{ url_for('check_answer') }}" method="POST">
            {% for option in options %}
            <button type="submit" name="answer" value="{{ option['option'] }}" class="option">
                {{ option['option'] }}
            </button>
            <div class="explanation" style="display:none;">
                {{ option['explanation'] }}
            </div>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}
