{% extends "base.html" %}
{% block title %}Quiz - My Website{% endblock %}
{% block content %}
<style>
    body {
        background-color: rgb(224, 211, 172);
    }
    .quiz-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .quiz-item {
        padding: 20px;
        color: rgb(102, 41, 49);
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        width: 80%;
        margin: 20px auto;
    }
    .option {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #f0f0f0;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s, box-shadow 0.3s;
        cursor: pointer;
    }
    .option:hover, .option:focus {
        background-color: rgb(232, 179, 188);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .explanation {
        margin-top: 10px;
        font-size: 0.9em;
        color: #666;
        display: none; /* Hidden by default */
    }
</style>

<div class="quiz-container">
    <h1>Quiz</h1>
    <div class="quiz-item">
        <h2>{{ question["question"] }}</h2>
        <img src="{{ url_for('static', filename='pic/' + question['image']) }}" alt="Question Image" style="max-width: 80%; height: auto;">
        <div id="answer-form">
            {% for option in options %}
            <button type="button" class="option" onclick="submitAnswer(this)">
                {{ option['option'] }}
            </button>
            <div class="explanation" id="explanation-{{ loop.index }}">
                {{ option['explanation'] }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock %}
