{% extends "base.html" %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <h2 id="nav-title"> Wine Terms</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#" onclick="loadContent('body')">Body</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="loadContent('dryness')">Dryness</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="loadContent('wine_types')">Wine Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="loadContent('fullspectrum')">Spectrum</a>
        </li>
        <!-- Add more links as needed -->
      </ul>
    </div>
    <!-- Main Content Area -->
    <div class="col-lg-9" id="main-content"></div>
  </div>
</div>

<script>
  function loadContent(url) {
    $.get(url, function(data) {
      $('#main-content').html(data);
      initializeEventListeners(); // Initialize event listeners after loading content
    });
  }

  function initializeEventListeners() {
    $("#topleft1").click(function() {
      $('#winename').text(data.topleft.wine_name);
      $('#winedesc').text(data.topleft.wine_desc);
      console.log("working")
    });

    // Add event listeners for other elements as needed
  }
  // Load 'body' content immediately when the file is opened
 
  $(document).ready(function() {
    loadContent('body');
    $("#topleft1").click(function() {
            $('#winename').text(data.topleft.wine_name);
            $('#winedesc').text(data.topleft.wine_desc);
            console.log("working")
        });

        $("#topleft2").click(function() {
            $('#winename').text(data.toplef2.wine_name);
            $('#winedesc').text(data.topleft2.wine_desc);
        });

        $("#bottomleft1").click(function() {
            $('#winename').text(data.bottomleft.wine_name);
            $('#winedesc').text(data.bottomleft.wine_desc);
        });

        $("#bottomleft2").click(function() {
            $('#winename').text(data.bottomleft2.wine_name);
            $('#winedesc').text(data.bottomleft2.wine_desc);
        });

         $("#bottomright1").click(function() {
            $('#winename').text(data.bottomright.wine_name);
            $('#winedesc').text(data.bottomright.wine_desc);
        });

         $("#bottomright2").click(function() {
            $('#winename').text(data.bottomright2.wine_name);
            $('#winedesc').text(data.bottomright2.wine_desc);
        });

        $("#topright1").click(function() {
            $('#winename').text(data.topright.wine_name);
            $('#winedesc').text(data.topright.wine_desc);
        });

        $("#topright2").click(function() {
            $('#winename').text(data.topright2.wine_name);
            $('#winedesc').text(data.topright2.wine_desc);
        });
 });
</script>

{% endblock %}